@charset "UTF-8";

@font-face {
  font-family: icomoon;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lobster;
  font-display: swap;
  src: url("../fonts/Lobster-Regular.woff2") format("woff2"), url("../fonts/Lobster-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header {
  background-color: #213B7E;
  min-height: 80px;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header__logo {
  z-index: 3;
}

.menu__link {
  text-decoration: underline;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  color: inherit;
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: 28px 18px;
}

.icon-menu._active {
  background-color: rgba(27, 35, 39, 0.8);
}

.icon-menu._active span {
  transform: scale(0) translate(0px, -50%);
}

.icon-menu._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.icon-menu._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.icon-menu {
  display: none;
  background-color: inherit;
}

.footer {
  background-color: #213B7E;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copy {
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.5);
}

.students {
  padding-top: 37px;
  padding-bottom: 579px;
}

.students__wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.students__title {
  font-weight: 700;
  font-size: 31px;
  font-size: 31px;
  line-height: 116.1290322581%;
  margin-bottom: 24px;
}

.students__title::after {
  content: " 👧👦";
}

.students__body {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.students__item {
  justify-self: center;
}

.students__photo {
  height: 270px;
  width: 200px;
  background-color: #86c6f4;
  margin-bottom: 8px;
  position: relative;
}

.students__status {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
  background: #3aa828;
  padding: 2px 5px;
  border-radius: 20px;
  position: absolute;
  right: -12px;
  top: -10px;
}

.students__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.about {
  padding-top: 37px;
  padding-bottom: 253px;
}

.about__title {
  font-weight: 700;
  font-size: 30px;
  font-size: 30px;
  line-height: 116.6666666667%;
  margin-bottom: 25px;
}

.video-block-about__title {
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 15px;
}

.video-block-about__video {
  max-width: 100%;
}

.contacts {
  padding-top: 37px;
  padding-bottom: 253px;
}

.contacts__title {
  font-weight: 700;
  font-size: 30px;
  font-size: 30px;
  line-height: 116.6666666667%;
  margin-bottom: 25px;
}

.contacts__map {
  margin-bottom: 15px;
  transform: translateX(-14%);
  position: relative;
  width: 1268px;
}

.contacts__our-contacts {
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 10px;
}

.contacts__tel {
  color: inherit;
}

.contacts__adress {
  margin-bottom: 20px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  z-index: 51;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(300px) translate(0, 0) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 30px 20px;
}

.popup__content {
  background: #FFFFFF;
  border: 1px solid #213B7E;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  padding: 28px 28px 56px 28px;
  display: grid;
  justify-items: center;
  position: relative;
  opacity: 0;
  transform: perspective(300px) translate(0, -100%) rotateX(45deg);
  transition: all 0.5s ease 0s;
}

.popup__title {
  font-size: 24px;
  line-height: 116.6666666667%;
  margin-bottom: 36px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
}

.popup__input {
  border: 1px solid #808080;
  width: 444px;
  height: 55px;
  padding: 14px;
}

.popup__input::-moz-placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #808080;
}

.popup__input::placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #808080;
}

.popup__close {
  width: 30px;
  height: 18px;
  position: relative;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: inherit;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #213B7E;
}

.popup__close::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.popup__close::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.main-section {
  padding-top: 240px;
  padding-bottom: 144px;
}

.main-section__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main-section__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-section__subtitle:not(:last-child) {
  margin-bottom: 16px !important;
}

.main-section__title {
  font-size: 44px !important;
}

.main-section__title span {
  color: #EA5D21;
}

.main-section__text {
  font-weight: 400;
  line-height: 2;
  max-width: 538px;
}

.main-section__text:not(:last-child) {
  margin-bottom: 20px;
}

.decor-main-section {
  flex: 0 0 336px;
}

.decor-main-section__box {
  position: relative;
  padding-bottom: 119%;
}

.decor-main-section__box::after,
.decor-main-section__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.decor-main-section__box::before {
  z-index: 1;
  background-color: #213B7E;
  border-radius: 16px;
  transform: rotate(-9.55deg);
}

.decor-main-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}

.decor-main-section__picture {
  z-index: 3;
  transition: all 0.5s ease 0s;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
}

.social__list {
  display: flex;
  gap: 34px;
}

.social__link {
  color: inherit;
  font-size: 24px;
  transition: color 0.3s ease 0s;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #213B7E;
  color: white;
  transition: all 0.5s ease 0s;
}

.social__link:hover {
  color: #EA5D21;
}

.specialized {
  padding-top: 114px;
  padding-bottom: 184px;
  background: #FBFBFB;
}

.specialized__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialized__title {
  margin-bottom: 104px;
  font-size: 34px;
}

.specialized__items {
  display: flex;
  gap: 56px;
}

.specialized__item {
  flex: 0 1 33.333%;
  background: white;
  padding: 50px;
}

.item-specialized {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-specialized:nth-child(3) .item-specialized__text {
  height: 150px;
  overflow: auto;
}

.item-specialized__icon {
  background: #F5F3FE;
  border-radius: 16px;
  padding: 20px;
}

.item-specialized__icon:not(:last-child) {
  margin-bottom: 24px;
}

.item-specialized__title {
  text-align: center;
  font-weight: 700;
  font-family: roboto;
  line-height: 1.25;
  font-size: 24px;
}

.item-specialized__title:not(:last-child) {
  margin-bottom: 16px;
}

.item-specialized__text {
  text-align: center;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 500;
}

@font-face {
  font-family: "icomoon";
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=icon-]::before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]::before {
  display: block;
}

.icon-arrowDown:before {
  content: "\e903";
}

.icon-arrowLeft:before {
  content: "\e904";
}

.icon-arrowRight:before {
  content: "\e905";
}

.icon-arrowUp:before {
  content: "\e906";
}

.icon-attach:before {
  content: "\e907";
}

.icon-behance:before {
  content: "\e908";
}

.icon-check:before {
  content: "\e909";
}

.icon-chevronDown:before {
  content: "\e90a";
}

.icon-chevronLeft:before {
  content: "\e90b";
}

.icon-chevronRight:before {
  content: "\e90c";
}

.icon-chevronUp:before {
  content: "\e90d";
}

.icon-cross:before {
  content: "\e90e";
}

.icon-download:before {
  content: "\e90f";
}

.icon-equal:before {
  content: "\e910";
}

.icon-expand:before {
  content: "\e911";
}

.icon-external:before {
  content: "\e912";
}

.icon-facebook:before {
  content: "\e913";
}

.icon-live:before {
  content: "\e914";
}

.icon-lock:before {
  content: "\e915";
}

.icon-menu:before {
  content: "\e916";
}

.icon-play:before {
  content: "\e917";
}

.icon-star:before {
  content: "\e918";
}

.icon-telegram:before {
  content: "\e919";
}

.icon-trophy:before {
  content: "\e91a";
}

.icon-upload:before {
  content: "\e91b";
}

.icon-vc:before {
  content: "\e91c";
}

.icon-vk:before {
  content: "\e91d";
}

.icon-youtube:before {
  content: "\e91e";
}

.icon-cart:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\e901";
}

.icon-twitter:before {
  content: "\e902";
}

body {
  max-width: 1300px;
  margin: 0 auto;
  font-family: roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 941px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 15px 51px;
  background-color: #EA5D21;
  display: flex;
  max-width: 153px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 23px;
  color: white;
  z-index: 3;
  position: relative;
  transition: all 0.5s ease 0s;
  overflow: hidden;
}

.btn::after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  transition: all 0.5s ease 0s;
}

.btn:hover {
  color: #EA5D21;
}

.btn:hover:after {
  left: 0;
}

.btn_blue:hover {
  color: white;
}

.btn_blue::after {
  background-color: #213B7E;
}

.main {
  padding-top: 33px;
  margin-bottom: 187px;
}

.main__container {
  position: relative;
}

.main__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 25px;
}

.main__image {
  margin-bottom: 15px;
  max-width: 100%;
}

.main__text {
  max-width: 634px;
}

.main__text:not(:last-child) {
  margin-bottom: 15px;
}

.main__text span {
  color: #CF5510;
}

.main__subtitle {
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 10px;
}

.main__learn {
  font-family: lobster;
  font-size: 36px;
  line-height: 80%;
  color: #646464;
  max-width: 150px;
  max-width: 150px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 429px;
  right: 15px;
}

.main__learn:before {
  content: "“";
}

.main__learn:after {
  content: "”";
  align-self: flex-end;
}

.subtitle {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 7.5px;
  color: #656D72;
}

.subtitle::before {
  content: "";
  width: 16px;
  height: 2px;
  background: #D9D9D9;
}

.subtitle:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
  }

  .menu__link._active {
    background-color: white;
    color: #213B7E;
    text-decoration: none;
  }
}

@media (max-width: 1250px) {
  .decor-main-section {
    margin-right: 30px;
  }
}

@media (max-width: 941px) {
  .students {
    padding-bottom: calc(30px + 549 * ((100vw - 320px) / 621));
  }

  .students__title {
    font-size: calc(24px + 7 * ((100vw - 320px) / 621));
  }

  .students__body {
    gap: calc(30px + 20 * ((100vw - 320px) / 621));
  }

  .about {
    padding-bottom: calc(30px + 223 * ((100vw - 320px) / 621));
  }

  .about__title {
    font-size: calc(22px + 8 * ((100vw - 320px) / 621));
  }

  .contacts {
    padding-bottom: calc(30px + 223 * ((100vw - 320px) / 621));
  }

  .contacts__title {
    font-size: calc(22px + 8 * ((100vw - 320px) / 621));
  }

  .contacts__map {
    width: calc(320px + 948 * ((100vw - 320px) / 621));
  }

  .popup__input {
    width: calc(290px + 154 * ((100vw - 320px) / 621));
  }

  .main-section {
    padding-top: calc(100px + 140 * ((100vw - 320px) / 621));
  }

  .main-section {
    padding-bottom: calc(30px + 114 * ((100vw - 320px) / 621));
  }

  .specialized {
    padding-top: calc(30px + 84 * ((100vw - 320px) / 621));
  }

  .specialized {
    padding-bottom: calc(30px + 154 * ((100vw - 320px) / 621));
  }

  .specialized__title {
    margin-bottom: calc(30px + 74 * ((100vw - 320px) / 621));
  }

  .specialized__title {
    font-size: calc(22px + 12 * ((100vw - 320px) / 621));
  }

  .specialized__items {
    gap: calc(20px + 36 * ((100vw - 320px) / 621));
  }

  .specialized__item {
    padding: calc(20px + 30 * ((100vw - 320px) / 621));
  }

  .main {
    margin-bottom: calc(30px + 157 * ((100vw - 320px) / 621));
  }

  .main__title {
    font-size: calc(20px + 10 * ((100vw - 320px) / 621));
  }

  .main__learn {
    font-size: calc(20px + 16 * ((100vw - 320px) / 621));
  }

  .main__learn {
    max-width: calc(80px + 70 * ((100vw - 320px) / 621));
  }
}

@media (max-width: 830.98px) {
  .main__content {
    max-width: 523px;
  }
}

@media (max-width: 830.98px) and (max-width: 941px) {
  .main__content {
    max-width: calc(290px + 233 * ((100vw - 320px) / 621));
  }
}

@media (max-width: 768px) {
  .menu__body {
    transition: left 0.3s ease 0s;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    padding: 120px 100px;
    justify-content: center;
    text-align: center;
    background-color: rgba(27, 35, 39, 0.8);
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: -100%;
    z-index: 2;
    background-color: rgba(27, 35, 39, 0.8);
  }

  .icon-menu {
    display: flex;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    position: relative;
    cursor: pointer;
    margin-left: 15px;
    z-index: 5;
  }

  .icon-menu::after,
  .icon-menu::before {
    content: "";
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: white;
    transition: all 0.3s ease 0s;
  }

  .icon-menu._active span,
  .icon-menu._active::before,
  .icon-menu._active::after {
    background-color: white;
  }

  .icon-menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .main-section__container {
    flex-direction: column;
  }

  .decor-main-section {
    margin-right: 0px;
  }

  .decor-main-section__box {
    width: 336px;
  }

  .specialized__items {
    flex-direction: column;
  }
}

@media (max-width: 768px) and (max-width: 941px) {
  .decor-main-section__box {
    width: calc(290px + 46 * ((100vw - 320px) / 621));
  }
}

@media (max-width: 767.98px) {
  .header__logo {
    flex: 1 1 auto;
  }

  .popup__content {
    padding: 18px 18px 36px 18px;
  }
}

@media (max-width: 558.98px) {
  .main__content {
    max-width: 100%;
  }

  .main__learn {
    color: white;
    right: 25px;
    top: 600px;
  }
}

@media (max-width: 558.98px) and (max-width: 941px) {
  .main__learn {
    top: calc(200px + 400 * ((100vw - 320px) / 621));
  }
}

@media (max-width: 428.98px) {
  .contacts__map {
    transform: translateX(-5%);
  }
}

@media (any-hover: hover) {
  .decor-main-section__image:hover {
    cursor: pointer;
    box-shadow: 0 0 20px black;
  }

  .decor-main-section__image:hover .decor-main-section__picture {
    transform: scale(1.02);
    transition: all 0.5s ease 0s;
  }
}